# exercise 1

In [ ]:
a = 5
b = 225
y = a + b
print(y)

In [3]:
a = 7
b = 3
y = 7/3
print(y)

2.3333333333333335

In [4]:
a = 7
b = 3
y = 7//3
print("7//3=", y)

7//3= 2

In [5]:
a = 7
b = 3
y = 7%3
print("7mod3=", y)

7mod3= 1

# exercise2

In [7]:
print('-'* 40)

----------------------------------------

# exercise 3

In [58]:
str ="John=is-a-great web developer\t    "
str = str.replace('=',' ')
str1 = str.replace('-',' ')
print(str1)

John is a great web developer

# exercise 4

In [5]:
first_name = input("what is your first name?")
last_name = input("what is your last name?")
age = input("what is your age?")
occupation = input("what is your occupation?")
print("new user" + first_name + last_name + age + "  " + "years old" + occupation + "  " + "has been registered in the system")

what is your first name?  Klaudio
what is your last name?   Pano
what is your age?   27
what is your occupation?  unemployed
new user  Klaudio   Pano   27  years old  unemployed  has been registered in the system

# exercise 5

In [8]:
n = int(input("Enter number: "))
 
print("The multiples are: ")
for i in range(1,11):
    print(n*i, end =" ")

Enter number: 10
The multiples are:
10 20 30 40 50 60 70 80 90 100

# exercise 6

In [14]:
a = 1 # not number zero cause anything mutiple with zero is going to get us zero
x = [3,5,23,6,7]
for i in x:
    a *= i
print(a)

14490

# exercise 7

In [22]:
n = int(input("enter an interger"))
sum_n = 0
for i in range(1,n+1):
    sum_n = sum_n + i
print(sum_n)

enter an interger10
55

# exercise 8

In [27]:
x = [44,32,65,77,12,86]
x.sort()
print("The second largest element of the list is:", x[-2])

The second largest element of the list is: 77

# exercise 9

In [29]:
fruits = ['Apple', 'Grapes', 'Berry', 'Orange']
print("-".join(fruits))

Apple-Grapes-Berry-Orange

# exercise 10

In [30]:
x = [32,3,5,4,4,3,2,6,4,5,6,7,8]
x1 = []
for i in x:
    if i not in x1:
        x1.append(i)
x = x1
print(x)

[32, 3, 5, 4, 2, 6, 7, 8]

# exercise 11

In [42]:
lst = [1,2,[3,4],[5,[100,200,['Data Science']],23,11],1,7]
print(lst[3][1][2])

['Data Science']

# exercise 12

In [53]:
x = [2,4,5,6,7,1,6,8]
y = [3,4,5,6,0,3,9]
z = set(x).difference(y)
c = set(y).difference(x)
print(z,c)

{1, 2, 7, 8} {0, 3, 9}

# exercise 13

In [126]:
x = [4,67,8, 'None', 32, 'Missing', 21]
x[3] = 0
x[5] = 0
print(x)

[4, 67, 8, 0, 32, 0, 21]

# exercise 14

In [72]:
lists = [1,2,[3,4],5,6]


new_lists = []

for i in lists:
    for j in str(i):
        new_lists.append(j)
        
print(new_lists)

['1', '2', '[', '3', ',', ' ', '4', ']', '5', '6']

# exercise 15

In [49]:
x = [32,3,5,4,4,3,2,6,4,5,6,7,8]
y = [*set(x)]
print(y)

[32, 2, 3, 4, 5, 6, 7, 8]

# exercise 16

In [55]:
x = [2,4,5,6,7,1,6,8]
y = [3,4,5,6,0,3,9]
z = set(x).difference(y)
print(z)

{1, 2, 7, 8}

# exercise 17

In [151]:
d = {'section':{'production':['wheel','tyre',{'engine':['pistons','valves','cylinder']}, 'door']}, 'development':'gearbox'}

print(d['section']['production'][2]['engine'][2])

cylinder

# exercise 18

In [28]:
careers = ['programmer', 'truck driver', 'analyst', 'agent']
index = careers.index('analyst')
print(index)

if ('analyst' in careers):
    print('analyst')

careers.append('gardener')
print(careers)


careers.insert(0,'scientist')
print(careers)

#Print the list in alphabetical order
sorted_careers = sorted(careers)
for i in sorted_careers:
    print(i)
    
#Print the list in its original order
for i in careers:
    print('original order:', i)
    
# Print the list in reverse alphabetical order
print(sorted(careers, reverse=True))

2
analyst
['programmer', 'truck driver', 'analyst', 'agent', 'gardener']
['scientist', 'programmer', 'truck driver', 'analyst', 'agent', 'gardener']
agent
analyst
gardener
programmer
scientist
truck driver
original order: scientist
original order: programmer
original order: truck driver
original order: analyst
original order: agent
original order: gardener
['truck driver', 'scientist', 'programmer', 'gardener', 'analyst', 'agent']

# exercise 19 ---Alphabet Slices

In [37]:
#Store the first ten letters of the alphabet in a list
list = ['a','b','c','d','e','f','g','h','i','j']

#Use a slice to print out the first three letters of the alphabet

print(list[:3])

#Use a slice to print out any three letters from the middle of your list
print(list[3:6])


#Use a slice to print out the letters from any point in the middle of your list, to the end.
print(list[3:10])

['a', 'b', 'c']
['d', 'e', 'f']
['d', 'e', 'f', 'g', 'h', 'i', 'j']

# exercise 20

In [65]:
if x == bool('passed'):
    print(x)

True

In [66]:
x = bool()
print(x)

False

# exercise 21

In [67]:
string = 'St. Moritz is a nice location to visit over Christmas holidays!'
if 'holiday' in string:
    print('holiday')
else: 
    print('not found')

holiday

# exercise 22

In [70]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
digits.reverse()
print(digits)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# exercise 23

In [72]:
#Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary

data = {'part 1':['a','b'], 'part 2':['c','d']}
for i in data['part 1']:
    for y in data['part 2']:
        print(i + y)

ac
ad
bc
bd

# exercise 24

In [78]:
electricity_bill = {
        'January': 232,
        'February': 245,
        'March': 267,
        'April': 223,
        'May': 257,
        'June': 284,
        'July': 243,
        'August': 120,
        'September': 245,
        'October': 278,
        'November': 345,
        'December': 326,
}

length = (len(electricity_bill))

total_cost = (sum(electricity_bill.values()))

average_bill = total_cost/length

print(average_bill)
print(total_cost)

255.41666666666666
3065

# exercise 25

In [1]:
grade =input([91,64,47,82,67,96])
grade = int(grade)

if grade > 90:
    print('A')
elif grade>= 80 and grade<=90:
    print('B')
elif grade>=70 and grade<=80:
    print('C')
elif grade>=60 and grade<=70:
    print('D')
else:
    print('F')

[91, 64, 47, 82, 67, 96]59
F

# exercise 26

In [5]:
#temprature---> temp

temp = {
        'June': [25,25,26,27,25,25,24,27,28,28,31,32,33],
        'July': [34,34,36,39,39,38,39,37,39,41,41,39,37],
        'August': [37,37,36,37,35,35,34,37,38,34,32,33,31],
}

max_val = list(temp.values())
max_key = list(temp.keys())

min_val = list(temp.values())
min_key = list(temp.keys())


print(max_key[max_val.index(max(max_val))])

print(min_key[min_val.index(min(min_val))])

August
June

# exercise 27

In [10]:
list = [1,2,3,4,5,6,7,8,9,10]

even_numbers = [i*i for i in list if i%2==0]

print(even_numbers)

[4, 16, 36, 64, 100]

In [12]:
def list_of_numbers(even):
    
    for i in even:
        if i%2==0:
            print(i)
        
        
list = [1,2,3,4,5,6,7,8,9,10]

list_of_numbers(list)

2
4
6
8
10

# exercise 29

In [13]:
list_of_integers = input('[my list]: ')
list = list_of_integers.split()

a = 1
for i in list_of_integers:
    a = a * int(i)

print(a)

[my list]: 123456
720

# exercise 30

In [14]:
def unique_list(numbers):
    x = []
    for i in numbers:
        if i not in x:
            x.append(i)
    return x
print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

# exercise 31

In [20]:
from statistics import mean

def Average(x): 
    avg = mean(x) 
    return avg
  
my_list = [2,4,6,8,10] 
average = Average(my_list)
  
print("Average of my_list is:", average)

Average of my_list is: 6

# exercise 32

In [33]:

#we are going to count the frequency of elements in a list using dictionary 
def CountFreq(order_list):
    
    #creating an empty dictionary
    freq = {}
    #Run a loop to travel through the list items
    for i in order_list:
        
        #To count the frequency, check if the element exists in the dictionary .If yes, then increase the value present at the element key by 1, else add that element as key and set its value as 1.
        if i in freq:
            freq[i] += 1
        else:
            freq[i] = 1
            
     #Print the dictionary as the result       
    print(freq)
    
order_list = [
'fries', 'burger', 'eggs', 'pasta', 'pizza', 'schnitzel', 'salad', 'water',
'soda', 'wine', 'eggs', 'pasta', 'pizza', 'schnitzel','salad','water',
'soda', 'wine','pizza', 'schnitzel','soda', 'wine', 'lemonade', 'steak',
'pasta','salad','fries', 'burger','water','burger']



    
CountFreq(order_list)

{'fries': 2, 'burger': 3, 'eggs': 2, 'pasta': 3, 'pizza': 3, 'schnitzel': 3, 'salad': 3, 'water': 3, 'soda': 3, 'wine': 3, 'lemonade': 1, 'steak': 1}

# exercise 33

In [59]:
customers = {
'customer 1':{'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items':['coffee', 'cookies', 'milk']},
'customer 2':{'name': 'Rebeca Collins', 'city': 'New York', 'nr_or_purchases': 1, 'items':['sugar']},
'customer 3':{'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 4, 'items':['bananas', 'apples', 'oranges', 'cherries' ]},
'customer 4':{'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items':['ham', 'cheese', 'butter']}}


#Edward Matthews bought also berries (add also +1 in the nr_or_purchases)
customers['customer 3']['items'] = ['bananas', 'apples', 'oranges', 'cherries', 'berries']
customers['customer 3']['nr_or_purchases'] = 5
print(customers)

{'customer 1': {'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items': ['coffee', 'cookies', 'milk']}, 'customer 2': {'name': 'Rebeca Collins', 'city': 'New York', 'nr_or_purchases': 1, 'items': ['sugar']}, 'customer 3': {'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 5, 'items': ['bananas', 'apples', 'oranges', 'cherries', 'berries']}, 'customer 4': {'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items': ['ham', 'cheese', 'butter']}}

In [2]:
#Remove Rebeca Collins she canceled the purchase

customers = {
'customer 1':{'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items':['coffee', 'cookies', 'milk']},
'customer 2':{'name': 'Rebeca Collins', 'city': 'New York', 'nr_or_purchases': 1, 'items':['sugar']},
'customer 3':{'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 4, 'items':['bananas', 'apples', 'oranges', 'cherries' ]},
'customer 4':{'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items':['ham', 'cheese', 'butter']}}

del customers['customer 2']

print(customers)

{'customer 1': {'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items': ['coffee', 'cookies', 'milk']}, 'customer 3': {'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 4, 'items': ['bananas', 'apples', 'oranges', 'cherries']}, 'customer 4': {'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items': ['ham', 'cheese', 'butter']}}

In [3]:
#Add new customer : Sophia Willis from Alabama, bought 4 items: sugar, milk, butter, flour

customers = {
'customer 1':{'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items':['coffee', 'cookies', 'milk']},
'customer 2':{'name': 'Rebeca Collins', 'city': 'New York', 'nr_or_purchases': 1, 'items':['sugar']},
'customer 3':{'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 4, 'items':['bananas', 'apples', 'oranges', 'cherries' ]},
'customer 4':{'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items':['ham', 'cheese', 'butter']}}


customers['customers 5'] = {'name': 'Sophia Willis', 'city': 'Alabama', 'nr_or_purchases': 4, 'items':['sugar', 'milk', 'butter', 'flour']}

print(customers)

{'customer 1': {'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items': ['coffee', 'cookies', 'milk']}, 'customer 2': {'name': 'Rebeca Collins', 'city': 'New York', 'nr_or_purchases': 1, 'items': ['sugar']}, 'customer 3': {'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 4, 'items': ['bananas', 'apples', 'oranges', 'cherries']}, 'customer 4': {'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items': ['ham', 'cheese', 'butter']}, 'customers 5': {'name': 'Sophia Willis', 'city': 'Alabama', 'nr_or_purchases': 4, 'items': ['sugar', 'milk', 'butter', 'flour']}}

In [5]:
#Use a for loop to add to every customer with more than 3 purchases a new key called 'promo' : 'coupon'

customers = {
'customer 1':{'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items':['coffee', 'cookies', 'milk']},
'customer 2':{'name': 'Rebeca Collins', 'city': 'New York', 'nr_or_purchases': 1, 'items':['sugar']},
'customer 3':{'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 4, 'items':['bananas', 'apples', 'oranges', 'cherries' ]},
'customer 4':{'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items':['ham', 'cheese', 'butter']}}

for customer in customers:
    if customers[customer]["nr_or_purchases"] > 3:
        customers[customer]["promo"] = "coupon"
        
        
print(customers)

{'customer 1': {'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items': ['coffee', 'cookies', 'milk']}, 'customer 2': {'name': 'Rebeca Collins', 'city': 'New York', 'nr_or_purchases': 1, 'items': ['sugar']}, 'customer 3': {'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 4, 'items': ['bananas', 'apples', 'oranges', 'cherries'], 'promo': 'coupon'}, 'customer 4': {'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items': ['ham', 'cheese', 'butter']}}

In [14]:
#Use a for loop to add to every customer from Boston a 10% discount in the 'promo' key

customers = {
'customer 1':{'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items':['coffee', 'cookies', 'milk']},
'customer 2':{'name': 'Rebeca Collins', 'city': 'New York', 'nr_or_purchases': 1, 'items':['sugar']},
'customer 3':{'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 4, 'items':['bananas', 'apples', 'oranges', 'cherries' ]},
'customer 4':{'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items':['ham', 'cheese', 'butter']}}


for customer in customers:
    if customers[customer]['city'] == 'Boston':
        customers[customer]['promo'] = '10% discount coupon'
        
        
print(customers)

{'customer 1': {'name': 'John Smith', 'city': 'New York', 'nr_or_purchases': 3, 'items': ['coffee', 'cookies', 'milk']}, 'customer 2': {'name': 'Rebeca Collins', 'city': 'New York', 'nr_or_purchases': 1, 'items': ['sugar']}, 'customer 3': {'name': 'Edward Matthews', 'city': 'Boston', 'nr_or_purchases': 4, 'items': ['bananas', 'apples', 'oranges', 'cherries'], 'promo': '10% discount coupon'}, 'customer 4': {'name': 'Maria Simmons', 'city': 'Boston', 'nr_or_purchases': 3, 'items': ['ham', 'cheese', 'butter'], 'promo': '10% discount coupon'}}

# exercise 35

In [2]:
cubes = []
for number in range(1, 11):
    cube = number**3
    cubes.append(cube)

for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

# exercise 34

In [3]:
x=input("Enter the string:- ")
def char(x):
  u=0
  l=0
  for i in x:
      if i>='a' and i<='z':
       l+=1

      if i >='A' and i<='Z':
       u+=1

  print("LowerCase letter in the String",l)
  print("UpperCase letter in the String",u)
char(x)

Enter the string:- Learning Python For Data Science
LowerCase letter in the String 23
UpperCase letter in the String 5